.App {
  text-align: center;
}

@font-face
{
font-family: GOTFont;
src: url('./font/gameOfThrones.ttf'),
url('./font/gameOfThrones.ttf');
}

body {
  font-family: 'GOTFont';
  background: url('./images/wall.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.gameboard {
  border: 5px solid black;
  margin-top: 8px;
  width: 51vw;
  height: 74vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
